@model IEnumerable<Pmtct.Models.Role>
@{
    ViewData["Title"] = "Roles";
}
<h1>Roles</h1>

  

    <table class="table">
        <thead>
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)l>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Selected)
                </th>
                @*<th>
          @Html.DisplayNameFor(model => model.Id)
        </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td>
                       @item.Name
                    </td>
                   
                    <td>

                        <div class="col-md-4">
                            <input type="checkbox" name="IdToAdd" value="@item.Id">
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
