@model Pmtct.Models.PmtctCareCascade

@{
    ViewData["Title"] = "Kufuta taarifa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Kufuta Taarifa</h1>

<h3>Una uwakika unata kufuta huu Taarifa?</h3>
<div>
    @*<h4>PmtctData</h4>*@
    <a asp-action="Index">Rudi kwenye Taarifa</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemarksName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NambaMshiriki01)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NambaMshiriki01)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Futa" class="btn btn-danger" /> |
        <a asp-action="Index">Rudi kwenye Taarifa</a>
    </form>
</div>
