@model Pmtct.Models.PmtctFollowUp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6  ">
        <div class="row">
            <div class=" col-md-4 ">
                <a class="nav-link  btn btn-primary btn-sm" asp-controller="Pmtct" asp-action="Create">Baseline</a>
            </div>
            <div class="col-md-4">
                <a class="nav-link btn btn-success  btn-sm" asp-action="Index" asp-controller="PmtctUp">Follow-up</a>
            </div>
           
        </div>
    </div>


</div>

<hr />
<h6 class="text-secondary">New Record</h6>
<hr />
@*<div class="row">*@

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.Hidden("UserId", (object)ViewBag.UserId)
    <input type="hidden" asp-for="UserId" />

    <div class="row text-success">

        <div class=" col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
            TAARIFA ZA UPIMAJI
        </div>
        <div class="col-md-3">
            <div class="row">

                <label asp-for="NambaMshiriki01" class="control-label"></label>
            </div>


            <div class="row" style="margin-top:25px;">
                <select asp-for="NambaMshiriki01" id="nmshiriki" class="form-control" asp-items="ViewBag.NambaMshiriki01">
                    <option value="">--Namba Ya Mshiriki --</option>
                </select>
                <span asp-validation-for="NambaMshiriki01" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <label asp-for="TareheHudhurio" class="control-label"></label>
            </div>


            <div class="row" style="margin-top:25px;">
                <input asp-for="TareheHudhurio" class="form-control" />
                <span asp-validation-for="TareheHudhurio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <label asp-for="HaliYako305a" class="control-label"></label>


            </div>
            <div class="row" >
                <select asp-for="HaliYako305a" id="haliyako" class="form-control">
                    <option value=""></option>
                    <option>1.Ndiyo</option>
                    <option>0.Hapana</option>
                </select>
                <span asp-validation-for="HaliYako305a" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3 collapse text-primary " id="halimwenza">
            <div class="row">

                <label class="control-label text-primary">305b. Kama ndio nani anafahamu?</label>


            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mwenza305b1" /> @Html.DisplayNameFor(model => model.Mwenza305b1)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mwanafamiliaa305b2" /> @Html.DisplayNameFor(model => model.Mwanafamiliaa305b2)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Wazazi305b3" /> @Html.DisplayNameFor(model => model.Wazazi305b3)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Rafiki305b1" /> @Html.DisplayNameFor(model => model.Rafiki305b1)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mfanyakazi305b5" />
                            @Html.DisplayNameFor(model => model.Mfanyakazi305b5)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" id="wengine305b6" asp-for="Wengine305b6" /> @Html.DisplayNameFor(model => model.Wengine305b6)
                        </label>

                    </div>
                    <div class="row collapse" style="padding-left:50px;" id="taja305b7">
                        <input asp-for="Tajawengine305b7" class="form-control" />
                        <span asp-validation-for="Tajawengine305b7" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 collapse text-primary" id="naogopa">
            <div class="row">

                <label class="control-label text-primary">306a. kama hapana, taja sababu</label>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Naogopakutengwa306a1" /> @Html.DisplayNameFor(model => model.Naogopakutengwa306a1)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Naogopakuachwa306a2" /> @Html.DisplayNameFor(model => model.Naogopakuachwa306a2)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="kunyanyapaliwa306a2" /> @Html.DisplayNameFor(model => model.kunyanyapaliwa306a2)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BadosijaaminiVVUliwa306a4" /> @Html.DisplayNameFor(model => model.BadosijaaminiVVUliwa306a4)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Sinaninaemwamini306a6" /> @Html.DisplayNameFor(model => model.Sinaninaemwamini306a6)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Nyinginezo306a6" /> @Html.DisplayNameFor(model => model.Nyinginezo306a6)
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 collapse text-primary " id="mpango306b">
            <div class="row">

                <label asp-for="MpangoMtu306b" class="control-label"></label>


            </div>
            <div class="row">
                <select asp-for="MpangoMtu306b" class="form-control">
                    <option value=""></option>
                    <option>1.Ndiyo</option>
                    <option>0.Hapana</option>
                </select>
                <span asp-validation-for="MpangoMtu306b" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <label asp-for="HaliMwenza307" class="control-label"></label>
            </div>


            <div class="row">

                <select asp-for="HaliMwenza307" class="form-control">
                    <option value=""></option>
                    <option>1.Ana maambukizi</option>
                    <option>2.Hana maambukizi</option>
                    <option>3.Sijui</option>
                </select>
                <span asp-validation-for="HaliMwenza307" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <label asp-for="KuhudumiwaTofautiVVU308a" class="control-label"></label>


            </div>
            <div class="row">
                <select asp-for="KuhudumiwaTofautiVVU308a" id="hudumiwatofauti" class="form-control">
                    <option value=""></option>
                    <option>1.Ndiyo</option>
                    <option>0.Hapana</option>
                </select>
                <span asp-validation-for="KuhudumiwaTofautiVVU308a" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 collapse text-primary" id="kutendeanani">
            <div class="row">

                <label class="control-label text-primary">
                    308b kama ndio,nani aliekufanyia/kutendea?
                </label>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mwenza308b1" /> @Html.DisplayNameFor(model => model.Mwenza308b1)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mwanafamiliaa308b2" /> @Html.DisplayNameFor(model => model.Mwanafamiliaa308b2)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Wazazi308b3" /> @Html.DisplayNameFor(model => model.Wazazi308b3)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Rafiki308b1" /> @Html.DisplayNameFor(model => model.Rafiki308b1)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mfanyakazi308b5" /> @Html.DisplayNameFor(model => model.Mfanyakazi308b5)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mhudumu308b6" /> @Html.DisplayNameFor(model => model.Mhudumu308b6)
                        </label>
                    </div>
                    <div class="row" style="padding-left:50px;">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Wengine308b7" /> @Html.DisplayNameFor(model => model.Wengine308b7)
                        </label>
                    </div>
                    <div class="row collapse" style="padding-left:50px;" id="wengine308b8">

                        <input asp-for="Tajawengine308b8" class="form-control" />

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <label asp-for="UmejiungaVVU309a" class="control-label"></label>

            </div>
            <div class="row">
                <select asp-for="UmejiungaVVU309a" id="kujiunga" class="form-control">
                    <option value=""></option>
                    <option>1.Ndiyo</option>
                    <option>0.Hapana</option>
                </select>
                <span asp-validation-for="UmejiungaVVU309a" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 collapse text-primary" id="ndiotaja">
            <div class="row">
                <label asp-for="NdioTaja309b" class="control-label"></label>

            </div>
            <div class="row" style="margin-top:24px;">
                <input asp-for="NdioTaja309b" class="form-control" />
                <span asp-validation-for="NdioTaja309b" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <label asp-for="MamaMwambata310a" class="control-label"></label>

            </div>
            <div class="row">
                <select asp-for="MamaMwambata310a" class="form-control">
                    <option value=""></option>
                    <option>1.Ndiyo</option>
                    <option>0.Hapana</option>
                    <option>2.Haihusiki</option>
                </select>
                <span asp-validation-for="MamaMwambata310a" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 text-primary collapse" id="kutendea">
            <div class="row">
                <label class="control-label text-primary">
                    310b Kama ndio (309a) huduma gani ulipatiwa?
                </label>

            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="col-md-12  text-primary" id="kutendea">
                        <div class="row" style="padding-left:50px;">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ushauri310b1" /> @Html.DisplayNameFor(model => model.Ushauri310b1)
                            </label>
                        </div>
                        <div class="row" style="padding-left:50px;">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Elimuafya310b2" /> @Html.DisplayNameFor(model => model.Elimuafya310b2)
                            </label>
                        </div>
                        <div class="row" style="padding-left:50px;">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ufuatiliaji310b3" /> @Html.DisplayNameFor(model => model.Ufuatiliaji310b3)
                            </label>
                        </div>
                        <div class="row" style="padding-left:50px;">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Nyinginezo310b4" /> @Html.DisplayNameFor(model => model.Nyinginezo310b4)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 collapse text-primary" id="rufaa">
            <div class="row">

                <label asp-for="Rufaa" class="control-label"></label>
            </div>
            <div class="row" style="margin-top:23px;">
                <input asp-for="Rufaa" class="form-control" />
                <span asp-validation-for="Rufaa" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <label asp-for="TareheHudhurioLijalo" class="control-label"></label>

            </div>
            <div class="row" style="margin-top:23px;">
                <input asp-for="TareheHudhurioLijalo" class="form-control" />
                <span asp-validation-for="TareheHudhurioLijalo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <label asp-for="Ufuatiliaji" class="control-label"></label>

            </div>
            <div class="row" style="margin-top:23px;">
                <select asp-for="Ufuatiliaji" class="form-control">
                    <option value=""></option>
                    <option>1.MISSAPP</option>
                    <option>2.LTF</option>
                    <option>3.Completely lost</option>
                    <option>4.Transfer put</option>
                    <option>5.Dead</option>
                    <option>6.Patient opted out</option>
                    <option>7.Available</option>
                </select>
                <span asp-validation-for="Ufuatiliaji" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="row">
                <label asp-for="JinaMtoHuduma" class="control-label"></label>

            </div>
            <div class="row" style="margin-top:25px;">
                <input asp-for="JinaMtoHuduma" class="form-control" />
                <span asp-validation-for="JinaMtoHuduma" class="text-danger"></span>
            </div>
        </div>


        <div class="col-sm-12 col-md-12" style="margin-top:10px">
            <div class="row">
                <div class="col-sm-1 col-md-1">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="col-sm-1 col-md-1">
                    <a asp-action="Create" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>

        



    </div>
</form>
@*</div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        document.getElementById('nmshiriki').focus();

        $(document).on("change", "#haliyako", function () {
            if ($(this).val() == "1.Ndiyo") {

                $("#halimwenza").removeClass("collapse");
                $("#naogopa").addClass("collapse");
                $("#mpango306b").addClass("collapse");

            }

            else if ($(this).val() == "0.Hapana") {

                $("#mpango306b").removeClass("collapse");
                $("#halimwenza").addClass("collapse");
                $("#naogopa").removeClass("collapse");
            } else
            {
                $("#mpango306b").addClass("collapse");
                $("#halimwenza").addClass("collapse");
                $("#naogopa").addClass("collapse");
            }
        });
        $(document).ready(function () {
            $('#wengine305b6').click(function () {
                if ($(this).prop("checked") == true) {
                    $("#taja305b7").removeClass("collapse");

                }
                else if ($(this).prop("checked") == false) {


                    $("#taja305b7").addClass("collapse");
                }
            });
        });
        $(document).ready(function () {
            $('#Wengine308b7').click(function () {
                if ($(this).prop("checked") == true) {
                    $("#wengine308b8").removeClass("collapse");

                }
                else if ($(this).prop("checked") == false) {


                    $("#wengine308b8").addClass("collapse");
                }
            });
        });
        $(document).on("change", "#hudumiwatofauti", function () {
            if ($(this).val() == "1.Ndiyo") {

                $("#kutendeanani").removeClass("collapse");


            }
            else {

                $("#kutendeanani").addClass("collapse");


            }
        });
        $(document).on("change", "#kujiunga", function () {
            if ($(this).val() == "1.Ndiyo") {
                kutendea
                $("#ndiotaja").removeClass("collapse");
                $("#kutendea").removeClass("collapse");

            }
            else {

                $("#ndiotaja").addClass("collapse");
                $("#kutendea").addClass("collapse");
                $("#rufaa").removeClass("collapse");

            }
        });
    </script>
}
