@model Pmtct.Models.PmtctData



@{
    ViewData["Title"] = "Ingiza taarifa mpya";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{
        int tabindex = 0;
       // tabindex = "@(++tabindex)"

    }*@




<div class="row">
    <div class="col-md-6  ">
        <div class="row">
            <div class=" col-md-4 ">
                <a class="nav-link  btn btn-success btn-sm" asp-action="Index">Baseline</a>
            </div>
            <div class="col-md-4">
                <a class="nav-link  btn btn-primary btn-sm" asp-action="Create" asp-controller="PmtctUp">Follow-up</a>
            </div>

        </div>
    </div>


</div>

<hr />
<h6 class="text-secondary">New Record</h6>
<hr />

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*@Html.Hidden("CreatedByUser", (object)ViewBag.UserId)
            <input type="hidden" asp-for="CreatedByUser" />*@

    <div class="row text-success">



        <div class="row">

            <div class="col-md-6">

            </div>


            <div class="col-md-6 text-info">
                <div class="row">
                    <div class="col-md-12 " id="pcc" style="color:brown;background-color:antiquewhite;margin:10px">
                        PMTCT CARE CASCADE
                    </div>
                    <div class="col-md-12 " id="pcc" style="color:brown;background-color:antiquewhite;margin:10px">
                        Service
                    </div>
                </div>
                <div class="row" style="margin:4px;">
                    <div class="col-md-5">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.InitiatedART401)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-check-input" id="init401" asp-for="InitiatedART401" />
                    </div>
                    <div class="col-md-5">
                        <input asp-for="InitiatedARTDate401" class="form-control" />
                        <span asp-validation-for="InitiatedARTDate401" class="text-danger"></span>

                    </div>
                </div>

                <div class="row" style="margin:4px;">
                    <div class="col-md-5">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.DeliveryFacility402)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-check-input" asp-for="DeliveryFacility402" />
                    </div>
                    <div class="col-md-5">
                        <input asp-for="DeliveryFacilityDate402" class="form-control" />
                        <span asp-validation-for="DeliveryFacilityDate402" class="text-danger"></span>

                    </div>
                </div>
                <div class="row" style="margin:4px;">
                    <div class="col-md-5">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.EarlyBirth403a)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-check-input" asp-for="EarlyBirth403a" />
                    </div>
                    <div class="col-md-5">
                        <input asp-for="EarlyBirthDate403a" class="form-control" />
                        <span asp-validation-for="EarlyBirthDate403a" class="text-danger"></span>

                    </div>
                </div>
                <div class="row" style="margin:4px;">
                    <div class="col-md-5">
                        <label class="form-check-label" style="color:red;">
                            @Html.DisplayNameFor(model => model.InfantHIVstatus403b)
                        </label>
                    </div>
                    <div class="col-md-2">
                        @*<select asp-for="InfantHIVstatus403b" id="haliyako" class="form-control">
                            <option value=""></option>
                            <option>1.Positive</option>
                            <option>0.Negative</option>
                        </select>*@
                        @*<input class="form-check-input " style="color:red;" id="nstatus" asp-for="InfantHIVstatus403b" />*@
                    </div>
                    <div class="col-md-5">
                        @*<input asp-for="InfantHIVstatusDate403b" class="form-control" />*@
                        <select asp-for="InfantHIVstatus403b" id="haliyako" class="form-control">
                            <option value=""></option>
                            <option>1.Positive</option>
                            <option>0.Negative</option>
                        </select>
                        <span asp-validation-for="InfantHIVstatus403b" class="text-danger"></span>

                    </div>
                </div>
               
                <div class="row" style="margin:4px;">
                    <div class="col-md-5">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.MotherResults403c)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-check-input" asp-for="MotherResults403c" />
                    </div>
                    <div class="col-md-5">
                        <input asp-for="MotherResultsDate403c" class="form-control" />
                        <span asp-validation-for="MotherResultsDate403c" class="text-danger"></span>

                    </div>
                </div>

                <div class="row" style="margin:4px;">
                    <div class="col-md-5">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.InfantBreastfeeding404a)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-check-input" asp-for="InfantBreastfeeding404a" />
                    </div>
                    <div class="col-md-5">
                        <input asp-for="InfantBreastfeedingDate404a" class="form-control" />
                        <span asp-validation-for="InfantBreastfeedingDate404a" class="text-danger"></span>

                    </div>





                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="RemarksName" style="padding-left: 60px;padding-top:20px;" class="control-label text-info"></label>
                        </div>
                        <div class="col-md-6">
                            <textarea asp-for="RemarksName" style="margin-left: 75px;" class="form-control "></textarea>
                            <span asp-validation-for="RemarksName" class="text-danger"></span>

                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-12" style="color:brown;background-color:antiquewhite;margin:10px">
                TAARIFA ZA KITUO NA MAHOJIANO
            </div>

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                        <label asp-for="NambaMshiriki01" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="TareheMahojiano03" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="JinaAnayehoji05" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="Wilaya02" class="control-label"></label>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row ">

                    <div class="col-md-3">
                        <input asp-for="NambaMshiriki01" class="form-control " id="nmshiriki" />
                        <span asp-validation-for="NambaMshiriki01" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="TareheMahojiano03" class="form-control" />
                        <span asp-validation-for="TareheMahojiano03" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="JinaAnayehoji05" class="form-control" />
                        <span asp-validation-for="JinaAnayehoji05" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <select asp-for="Wilaya02" class="form-control">
                            <option value=""></option>
                            <option>1.Kaskazini A</option>
                            <option>2.Kaskazini B</option>
                            <option>3.Mjini</option>
                            <option>4.Magharibi A</option>
                            <option>5.Magharibi B</option>
                            <option>6.Kati</option>
                            <option>7.Kusini</option>
                            <option>8.Mkoani</option>
                            <option>9.Chake Chake</option>
                            <option>10.Wete</option>
                            <option>11.Micheweni</option>
                        </select>
                        <span asp-validation-for="Wilaya02" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Ngazikituo06" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Kituo04" class="control-label"></label>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                  
                        <select asp-for="Ngazikituo06" class="form-control">
                            <option value=""></option>
                            <option>1.Referral Hospital</option>
                            <option>2.Regional Hospital</option>
                            <option>3.District Hospital</option>
                            <option>4.PHCU+</option>
                            <option>5.PHCU</option>
                            <option>6.Faith Based</option>

                        </select>
                        <span asp-validation-for="Ngazikituo06" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <select asp-for="Kituo04" class="form-control">
                            <option value=""></option>
                            <option>Fuoni PHCU+</option>
                            <option>Chukwani PHCU</option>
                            <option>Kombeni PHCU</option>
                            <option>Fuoni Kibondeni PHCU</option>
                            <option>SOS PHCU</option>
                            <option>Kiembe Samaki PHCU</option>
                            <option>Magogoni PHCU</option>
                            <option>Shakani PHCU</option>
                            <option>Kendwa PHCU</option>
                            <option>Gamba PHCU</option>
                            <option>Pwani Mchangani PHCU</option>
                            <option>Kivunge Hospital</option>
                            <option>Fujoni PHCU</option>
                            <option>Kitope RC PHCU</option>
                            <option>Upenja PHCU</option>
                            <option>Kiwengwa PHCU</option>
                            <option>Bwejuu PHCU</option>
                            <option>Kizimkazi Dimbani PHCU</option>
                            <option>Kizimkazi Mkunguni PHCU</option>
                            <option>Makunduchi Hospital</option>
                            <option>Jambiani PHCU</option>
                            <option>Mwembeladu PHCU</option>
                            <option>Mnazi Mmoja Hospital</option>
                            <option>Jang'ombe PHCU</option>
                            <option>Seblen PHCU</option>
                            <option>Mafunzo PHCU</option>
                            <option>Kwamtipura PHCU</option>
                            <option>Rahaleo PHCU</option>
                            <option>Shaurimoyo PHCU</option>
                            <option>Mpendae PHCU+</option>
                            <option>SDA PHCU</option>
                            <option>Ziwani polisi PHCU</option>
                            <option>Welezo PHCU</option>
                            <option>Bumbwi Sudi PHCU</option>
                            <option>KMKM PHCU</option>
                            <option>Bububu Hospital</option>
                            <option>Chwaka PHCU</option>
                            <option>Mwera PHCU+</option>
                            <option>Dunga PHCU</option>
                            <option>Ubago jeshini  Hospital</option>
                            <option>Uroa PHCU</option>
                            <option>Tunguu PHCU</option>
                            <option>Chake Chake   Hospital</option>
                            <option>Gombani PHCU</option>
                            <option>Chonga PHCU</option>
                            <option>Wesha PHCU</option>
                            <option>Wete   PHCU</option>
                            <option>Jadida PHCU</option>
                            <option>Uondwe PHCU</option>
                            <option>Kiuyu Kipangani PHCU</option>
                            <option>Micheweni Hospital</option>
                            <option>Mkoani Hospital</option>
                            <option>Bogoa PHCU</option>
                            <option>Nungwi PHCU+</option>
                            <option>Kisauni PHCU</option>
                            <option>Kizimbani</option>
                            <option>Cheju</option>
                            <option>Marie Store</option>
                            <option>Selem</option>

                        </select>
                        <span asp-validation-for="Kituo04" class="text-danger"></span>
                    </div>

                </div>
            </div>


            <div class="col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
                TAARIFA BINAFSI
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Umri101" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="KiwangoElimu102" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="HaliNdoa103" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="KipatoMwezi104" class="control-label"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        @*<input asp-for="Umri101" class="form-control" />*@
                        <select asp-for="Umri101" class="form-control" id="miaka">
                            <option value="">(Miaka)</option>
                        </select>
                        <span asp-validation-for="Umri101" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <select asp-for="KiwangoElimu102" class="form-control">
                            <option value=""></option>
                            <option>1.Madrasa</option>
                            <option>2.Elimu ya msingi</option>
                            <option>3.Hujamaliza elimu ya sekondari</option>
                            <option>4.Kamaliza elimu ya sekondari</option>
                            <option>5. Elimu ya juu</option>
                            <option>6. Hajasoma</option>
                        </select>
                        <span asp-validation-for="KiwangoElimu102" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="HaliNdoa103" class="form-control">
                            <option value=""></option>
                            <option>1.Nimeolewa</option>
                            <option>2.Tunaishi bila ndoa</option>
                            <option>3.Sijawahi kuolewa</option>
                            <option>4.Nimeachika/Tumetengana</option>
                            <option>5.Mjane</option>
                        </select>
                        <span asp-validation-for="HaliNdoa103" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="KipatoMwezi104" id="kipato" class="form-control" />
                        <span asp-validation-for="KipatoMwezi104" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Kazi105" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="IdadiMimba106" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="WilayaUnayoishi107" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="MdaKuishiZanzibar109" id="mdakuishi" class="control-label"></label>
                    </div>

                </div>
            </div>


            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                        <select asp-for="Kazi105" class="form-control">
                            <option value=""></option>
                            <option>1.Nimeajiriwa</option>
                            <option>2.Nimejiajiri</option>
                            <option>3.Sina ajira</option>
                            <option>4.Mwanafunzi</option>

                        </select>
                        <span asp-validation-for="Kazi105" class="text-danger"></span>
                    </div>


                    <div class="col-md-3">
                        <select asp-for="IdadiMimba106" class="form-control">
                            <option value=""></option>
                            <option>0. Mimba ya kwanza</option>
                            <option>1. Mimba zaidi ya moja</option>
                        </select>
                        <span asp-validation-for="IdadiMimba106" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <select asp-for="WilayaUnayoishi107" class="form-control">
                            <option value=""></option>
                            <option>1.Kaskazini A</option>
                            <option>2.Kaskazini B</option>
                            <option>3.Mjini</option>
                            <option>4.Magharibi A</option>
                            <option>5.Magharibi B</option>
                            <option>6.Kati</option>
                            <option>7.Kusini</option>
                            <option>8.Mkoani</option>
                            <option>9.Chake Chake</option>
                            <option>10.Wete</option>
                            <option>11.Micheweni</option>
                        </select>
                        <span asp-validation-for="WilayaUnayoishi107" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="MdaKuishiZanzibar109" id="mdakuishi" class="form-control">
                            <option value=""></option>
                            <option>1. Ndani ya mwaka mmoja</option>
                            <option>2. Mwaka 1 hadi miaka mitano</option>
                            <option>3. Zaidi ya miaka mitano</option>
                            <option>4. Maisha yote</option>
                        </select>
                        <span asp-validation-for="MdaKuishiZanzibar109" class="text-danger"></span>
                    </div>

                </div>
            </div>


            <div class="col-md-12 collapse" id="njezanzila">
                <div class="row">
                    <div class="col-md-3">

                        <label asp-for="NjeZanzibar108" class="control-label text-primary"></label>
                    </div>

                </div>
            </div>
            <div class="col-md-12 collapse" id="njezanziIn">
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="NjeZanzibar108" class="form-control" />
                        <span asp-validation-for="NjeZanzibar108" class="text-danger"></span>
                    </div>
                </div>
            </div>






            <div class="col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
                MATUMIZI YA HUDUMA ZA AFYA
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="KilomitaKituo201" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="KilomitaUjazo202" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="HudumaUjauzito203" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="UgumuKliniki204a" class="control-label"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                        <select asp-for="KilomitaKituo201" class="form-control">
                            <option value=""></option>
                            <option>1.Ndani ya kilometa 5</option>
                            <option>2.Zaidi ya kilometa 5</option>
                        </select>
                        <span asp-validation-for="KilomitaKituo201" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        <select asp-for="KilomitaUjazo202" class="form-control">
                            <option value=""></option>
                            <option>1.Ndani ya kilometa 5</option>
                            <option>2.Zaidi ya kilometa 5</option>
                        </select>
                        <span asp-validation-for="KilomitaUjazo202" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">

                        <select asp-for="HudumaUjauzito203" class="form-control">
                            <option value=""></option>
                            <option>1.Kwa miguu</option>
                            <option>2.Usafiri wa umma</option>
                            <option>3.Usafiri Binafsi</option>
                        </select>
                        <span asp-validation-for="HudumaUjauzito203" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <select asp-for="UgumuKliniki204a" id="select-id" class="form-control">
                            <option value=""></option>
                            <option>1.Ndiyo</option>
                            <option>0.Hapana</option>
                        </select>
                        <span asp-validation-for="UgumuKliniki204a" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="col-md-12 invisible collapse text-primary" id="kamandio">
                <div class="row" style="padding-top:20px;">
                    <div class="col-md-3">
                        <label class="control-label">204b. Kama ndio, ni upi?</label>
                    </div>
                </div>
            </div>

            <div class="col-md-12 collapse text-primary" id="usafiri">


                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="BasiMbaliAfya204b_1" /> @Html.DisplayNameFor(model => model.BasiMbaliAfya204b_1)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="UgumuUsafiriUmma204b_2" /> @Html.DisplayNameFor(model => model.UgumuUsafiriUmma204b_2)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="KukosaNauli204b_3" /> @Html.DisplayNameFor(model => model.KukosaNauli204b_3)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="MsafaraMrefu204b_4" /> @Html.DisplayNameFor(model => model.MsafaraMrefu204b_4)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="AnaishiMbaliBasi204b_5" /> @Html.DisplayNameFor(model => model.AnaishiMbaliBasi204b_5)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="AnaishiMbaliAfya204b_6" /> @Html.DisplayNameFor(model => model.AnaishiMbaliAfya204b_6)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" id="mengine" asp-for="Mengine204b_7" /> @Html.DisplayNameFor(model => model.Mengine204b_7)
                    </label>
                </div>

            </div>
            <div class="col-md-12 invisible collapse" id="taja">
                <div class="row">
                    <div class="col-md-3 text-primary">
                        <label asp-for="TajaMengine204b" class="control-label"></label>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-3">
                        <input asp-for="TajaMengine204b" class="form-control" />
                        <span asp-validation-for="TajaMengine204b" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="HudumaHapa205" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="UmepataHapaHuduma206" class="control-label"></label>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <select asp-for="HudumaHapa205" class="form-control">
                            <option value=""></option>
                            <option>1.Ndiyo</option>
                            <option>0.Hapana</option>
                        </select>
                        <span asp-validation-for="HudumaHapa205" class="text-danger"></span>


                    </div>
                    <div class="col-md-3">
                        <select asp-for="UmepataHapaHuduma206" class="form-control">
                            <option value=""></option>
                            <option>1.Ndiyo</option>
                            <option>0.Hapana</option>
                        </select>
                        <span asp-validation-for="UmepataHapaHuduma206" class="text-danger"></span>


                    </div>
                </div>

            </div>

            <div class="col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
                TAARIFA ZA AFYA NA UPIMAJI WA VVU
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="UmriMimba301" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="MwakaVVU302" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="MdaVVU303" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="DawaVVU304a" class="control-label"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                        @*<input asp-for="UmriMimba301" class="form-control" />*@
                        <select asp-for="UmriMimba301" class="form-control input-group" id="Umrimimba">
                            <option value="">Umri wa mimba</option>
                        </select>
                        <span asp-validation-for="UmriMimba301" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        @*<input asp-for="MwakaVVU302" class="form-control" />*@
                        <select asp-for="MwakaVVU302" class="form-control input-group date" id="ddlYears">
                            <option value=""></option>

                        </select>
                        <span asp-validation-for="MwakaVVU302" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        <select asp-for="MdaVVU303" class="form-control">
                            <option value=""></option>
                            <option>1.Kabla ya ujauzito huu</option>
                            <option>2.Kipindi cha ujauzito huu</option>

                        </select>
                        <span asp-validation-for="MdaVVU303" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="DawaVVU304a" id="dawaVVU" class="form-control">
                            <option value=""></option>
                            <option>1.Ndiyo</option>
                            <option>0.Hapana</option>
                        </select>
                        <span asp-validation-for="DawaVVU304a" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 collapse" id="liniCTCLa">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="LiniDawaVVU304b" class="control-label text-primary "></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="CTC304c" class="control-label text-primary"></label>
                    </div>


                </div>
            </div>
            <div class="col-md-12 collapse" id="liniCTCIn">
                <div class="row">
                    <div class="col-md-3">

                        @*<input asp-for="LiniDawaVVU304b" class="form-control input-group date" />*@
                        <select asp-for="LiniDawaVVU304b" class="form-control input-group date" id="ddlYearsLini">
                            <option value="">Mwaka kutumia Dawa</option>

                        </select>
                        <span asp-validation-for="LiniDawaVVU304b" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        <input asp-for="CTC304c" id="ctcno" class="form-control" />
                        <span asp-validation-for="CTC304c" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="col-md-12" style="margin-top:10px">
                <div class="row">
                    <div class="col-md-1">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                    <div class="col-md-1">
                        <a asp-action="Create" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>


@section Scripts
 {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script type="text/javascript">
        window.onload = function () {
            //Reference the DropDownList.
            var ddlYears = document.getElementById("ddlYears");
            var ddlYearsL = document.getElementById("ddlYearsLini");
            var Umrimimba = document.getElementById("Umrimimba");
            var miaka = document.getElementById("miaka");


            //Determine the Current Year.
            var currentYear = (new Date()).getFullYear();

            //Loop and add the Year values to DropDownList.
            for (var i = 1980; i <= currentYear; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                ddlYears.appendChild(option);

            }
            for (var i = 1980; i <= currentYear; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                ddlYearsL.appendChild(option);

            }
            for (var i = 1; i <= 41; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                Umrimimba.appendChild(option);

            }
            for (var i = 0; i <= 61; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                miaka.appendChild(option);

            }


        };

        $(document).on("change", "#select-id", function () {
            if ($(this).val() == "1.Ndiyo") {
                $("#kamandio").removeClass("invisible");
                $("#kamandio").removeClass("collapse");
                $("#usafiri").removeClass("invisible");
                $("#usafiri").removeClass("collapse");

            }
            else {
                $("#kamandio").addClass("invisible");
                $("#kamandio").addClass("collapse");
                $("#usafiri").addClass("invisible");
                $("#usafiri").addClass("collapse");

            }
        });


        $(document).ready(function () {
            $('#mengine').click(function () {
                if ($(this).prop("checked") == true) {
                    $("#taja").removeClass("invisible");
                    $("#taja").removeClass("collapse");
                }
                else if ($(this).prop("checked") == false) {

                    $("#taja").addClass("invisible");
                    $("#taja").addClass("collapse");
                }
            });
        });


        $(document).ready(function () {
            $('#ctcno').mask('00-00-0000-000000');
            $('#kipato').mask("0,000,000,000", { reverse: true });

        });

        document.getElementById('init401').focus();




        $(document).on("change", "#mdakuishi", function () {
            if ($(this).val() == "1. Ndani ya mwaka mmoja" || $(this).val() == "2. Mwaka 1 hadi miaka mitano" || $(this).val() == "3. Zaidi ya miaka mitano") {

                $("#njezanzila").removeClass("collapse");
                $("#njezanziIn").removeClass("collapse");

            }
            else {

                $("#njezanzila").addClass("collapse");
                $("#njezanziIn").addClass("collapse");

            }
        });

        $(document).on("change", "#dawaVVU", function () {
            if ($(this).val() == "1.Ndiyo") {

                $("#liniCTCLa").removeClass("collapse");
                $("#liniCTCIn").removeClass("collapse");

            }
            else {
                $("#liniCTCLa").addClass("collapse");
                $("#liniCTCIn").addClass("collapse");

            }
        });

        //$(document).ready(function () {
        //    $('#nstatus').click(function () {
        //        if ($(this).prop("checked") == true) {
        //            $("#nstatus").addClass("selected");
                    
        //        }
        //        else if ($(this).prop("checked") == false) {

        //            $("#nstatus").removeClass("selected");
                    
        //        }
        //    });
        //});
    </script>

}
