@model Pmtct.Models.PmtctData

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6  ">
        <div class="row">
            <div class=" col-md-4 ">
                <a class="nav-link  btn btn-success btn-sm" asp-action="Index">Baseline</a>
            </div>

        </div>
    </div>
</div>
<hr />
@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<h6 class="text-secondary">Edit Record</h6>
<hr />



<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        @*<input type="hidden" asp-for="CreatedByUser" />*@
       

        <div class="row text-success">
 <div class="col-md-12 " id="pcc" style="color:brown;background-color:antiquewhite;margin:10px">
                PMTCT CARE CASCADE
            </div>
             <div class="col-md-12 " id="pcc" style="color:brown;background-color:antiquewhite;margin:10px">
                Service
            </div>
            <div class="col-md-12">
                <div class="row" style="margin:4px;">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.InitiatedART401) 
                        </label>
                    </div>
                     <div class="col-md-1" >
                    <input class="form-check-input" id="init404" asp-for="InitiatedART401" />
                     </div>
                    <div class="col-md-3">
                        <input asp-for="InitiatedARTDate401" class="form-control" />
                        <span asp-validation-for="InitiatedARTDate401" class="text-danger"></span>

                    </div>
                </div>

                <div class="row" style="margin:4px;">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.DeliveryFacility402) 
                        </label>
                    </div>
                     <div class="col-md-1">
                    <input class="form-check-input" asp-for="DeliveryFacility402" />
                     </div>
                    <div class="col-md-3">
                        <input asp-for="DeliveryFacilityDate402" class="form-control" />
                        <span asp-validation-for="DeliveryFacilityDate402" class="text-danger"></span>

                    </div>
                </div>
             <div class="row" style="margin:4px;">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.EarlyBirth403a) 
                        </label>
                    </div>
                      <div class="col-md-1">
                    <input class="form-check-input" asp-for="EarlyBirth403a" />
                     </div>
                    <div class="col-md-3">
                        <input asp-for="EarlyBirthDate403a" class="form-control" />
                        <span asp-validation-for="EarlyBirthDate403a" class="text-danger"></span>

                    </div>
                </div>
            <div class="row" style="margin:4px;">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.InfantHIVstatus403b) 
                        </label>
                    </div>
                    <div class="col-md-1">
                        @*<input class="form-check-input" asp-for="InfantHIVstatus403b" />*@
                        
                    </div>
                    <div class="col-md-3">
                        <select asp-for="InfantHIVstatus403b" id="haliyako" class="form-control">
                            <option value=""></option>
                            <option>1.Positive</option>
                            <option>0.Negative</option>
                        </select>
                        <span asp-validation-for="InfantHIVstatus403b" class="text-danger"></span>

                    </div>
                </div>
            <div class="row" style="margin:4px;">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.MotherResults403c) 
                        </label>
                    </div>
                    <div class="col-md-1">
                 <input class="form-check-input" asp-for="MotherResults403c" />
                     </div>
                    <div class="col-md-3">
                        <input asp-for="MotherResultsDate403c" class="form-control" />
                        <span asp-validation-for="MotherResultsDate403c" class="text-danger"></span>

                    </div>
                </div>

                <div class="row" style="margin:4px;">
                    <div class="col-md-6">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.InfantBreastfeeding404a) 
                        </label>
                    </div>
                     <div class="col-md-1">
               <input class="form-check-input" asp-for="InfantBreastfeeding404a" />
                     </div>
                    <div class="col-md-3">
                        <input asp-for="InfantBreastfeedingDate404a" class="form-control" />
                        <span asp-validation-for="InfantBreastfeedingDate404a" class="text-danger"></span>

                    </div>
                </div>


            </div>
            <div class="col-md-12" style="margin-top:10px">
                <div class="row">
                    <div class="col-md-2">
                        <label asp-for="RemarksName" class="control-label text-info"></label>
                    </div>
                    <div class="col-md-2">
                        <textarea asp-for="RemarksName" class="form-control "></textarea>
                        <span asp-validation-for="RemarksName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="color:brown;background-color:antiquewhite;margin:10px">
                TAARIFA ZA KITUO NA MAHOJIANO
            </div>

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                        <label asp-for="NambaMshiriki01" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="TareheMahojiano03" class="control-label"></label>
                       
                    </div>
                    <div class="col-md-3">
                        <label asp-for="JinaAnayehoji05" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="Wilaya02" class="control-label"></label>
                    </div>

                </div>
            </div>


            <div class="col-md-12">
                <div class="row ">

                    <div class="col-md-3">
                        <input asp-for="NambaMshiriki01" class="form-control " id="nmshiriki" />
                        <span asp-validation-for="NambaMshiriki01" class="text-danger"></span>
                    </div>
                    
                    <div class="col-md-3">
                        
                     <input asp-for="TareheMahojiano03" class="form-control" />
                        <span asp-validation-for="TareheMahojiano03" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="JinaAnayehoji05" class="form-control" />
                        <span asp-validation-for="JinaAnayehoji05" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                         <input asp-for="Wilaya02" class="form-control" />
                        <span asp-validation-for="Wilaya02" class="text-danger"></span>
                    </div>


                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Ngazikituo06" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Kituo04" class="control-label"></label>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                        
                        <input asp-for="Kituo04" class="form-control" />
                        <span asp-validation-for="Kituo04" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                      <input asp-for="Ngazikituo06" class="form-control" />
                        <span asp-validation-for="Ngazikituo06" class="text-danger"></span>
                    </div>

                </div>
            </div>


            <div class="col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
                TAARIFA BINAFSI
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Umri101" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="KiwangoElimu102" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="HaliNdoa103" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="KipatoMwezi104" class="control-label"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="Umri101" class="form-control" />
                        @*<select asp-for="Umri101"  class="form-control" id="miaka">
                            <option value="">(Miaka)</option>
                        </select>*@
                        <span asp-validation-for="Umri101" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                         <input asp-for="KiwangoElimu102" class="form-control" />
                        <span asp-validation-for="KiwangoElimu102" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                         <input asp-for="HaliNdoa103" class="form-control" />
                        <span asp-validation-for="HaliNdoa103" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="KipatoMwezi104" id="kipato" class="form-control" />
                        <span asp-validation-for="KipatoMwezi104" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Kazi105" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="IdadiMimba106" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="WilayaUnayoishi107" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="NjeZanzibar108" class="control-label"></label>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                         <input asp-for="Kazi105" class="form-control" />
                        <span asp-validation-for="Kazi105" class="text-danger"></span>
                    </div>


                    <div class="col-md-3">
                         <input asp-for="IdadiMimba106" class="form-control" />
                        <span asp-validation-for="IdadiMimba106" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="WilayaUnayoishi107" class="form-control" />
                        <span asp-validation-for="WilayaUnayoishi107" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="NjeZanzibar108" class="form-control" />
                        <span asp-validation-for="NjeZanzibar108" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="MdaKuishiZanzibar109" class="control-label"></label>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                         <input asp-for="MdaKuishiZanzibar109" class="form-control" />
                        <span asp-validation-for="MdaKuishiZanzibar109" class="text-danger"></span>
                    </div>
                </div>
            </div>






            <div class="col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
                MATUMIZI YA HUDUMA ZA AFYA
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="KilomitaKituo201" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="KilomitaUjazo202" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="HudumaUjauzito203" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="UgumuKliniki204a" class="control-label"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                        <input asp-for="KilomitaKituo201" class="form-control" />
                        <span asp-validation-for="KilomitaKituo201" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        <input asp-for="KilomitaUjazo202" class="form-control" />
                        <span asp-validation-for="KilomitaUjazo202" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                  
                         <input asp-for="HudumaUjauzito203" class="form-control" />
                        <span asp-validation-for="HudumaUjauzito203" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <input asp-for="UgumuKliniki204a" class="form-control" />
                        <span asp-validation-for="UgumuKliniki204a" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="col-md-12 " style="color:blue">
                <div class="row" style="padding-top:20px;">
                    <div class="col-md-3">
                        <label class="control-label">204b. Kama ndio, ni upi?</label>
                    </div>
                </div>
            </div>

            <div class="col-md-12 " style="color:blue">


                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="BasiMbaliAfya204b_1" /> @Html.DisplayNameFor(model => model.BasiMbaliAfya204b_1)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="UgumuUsafiriUmma204b_2" /> @Html.DisplayNameFor(model => model.UgumuUsafiriUmma204b_2)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="KukosaNauli204b_3" /> @Html.DisplayNameFor(model => model.KukosaNauli204b_3)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="MsafaraMrefu204b_4" /> @Html.DisplayNameFor(model => model.MsafaraMrefu204b_4)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="AnaishiMbaliBasi204b_5" /> @Html.DisplayNameFor(model => model.AnaishiMbaliBasi204b_5)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" asp-for="AnaishiMbaliAfya204b_6" /> @Html.DisplayNameFor(model => model.AnaishiMbaliAfya204b_6)
                    </label>
                </div>
                <div class="row" style=" margin-left: 40px;padding-bottom:7px; padding-bottom: 7px;">
                    <label class="form-check-label row">
                        <input class="form-check-input" id="mengine" asp-for="Mengine204b_7" /> @Html.DisplayNameFor(model => model.Mengine204b_7)
                    </label>
                </div>

            </div>
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="TajaMengine204b" class="control-label"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="TajaMengine204b" class="form-control" />
                        <span asp-validation-for="TajaMengine204b" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="HudumaHapa205" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="UmepataHapaHuduma206" class="control-label"></label>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="HudumaHapa205" class="form-control" />
                        <span asp-validation-for="HudumaHapa205" class="text-danger"></span>


                    </div>
                    <div class="col-md-3">
                          <input asp-for="UmepataHapaHuduma206" class="form-control" />
                        <span asp-validation-for="UmepataHapaHuduma206" class="text-danger"></span>


                    </div>
                </div>

            </div>

            <div class="col-md-12 " style="color:brown;background-color:antiquewhite;margin:10px">
                TAARIFA ZA AFYA NA UPIMAJI WA VVU
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="UmriMimba301" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="MwakaVVU302" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="MdaVVU303" class="control-label"></label>
                    </div>
                    <div class="col-md-3">

                        <label asp-for="DawaVVU304a" class="control-label"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                        <input asp-for="UmriMimba301" class="form-control" />
                        @*<select asp-for="UmriMimba301"  class="form-control input-group" id="Umrimimba">
                            <option value="">Umri wa mimba</option>
                        </select>*@
                        <span asp-validation-for="UmriMimba301" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        <input asp-for="MwakaVVU302" class="form-control" />
                        @*<select asp-for="MwakaVVU302"  class="form-control input-group date" id="ddlYears">
                            <option value="">Mwaka Uliogundulika</option>

                        </select>*@
                        <span asp-validation-for="MwakaVVU302" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                         <input asp-for="MdaVVU303" class="form-control" />
                        <span asp-validation-for="MdaVVU303" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="DawaVVU304a" class="form-control" />
                        <span asp-validation-for="DawaVVU304a" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="LiniDawaVVU304b" class="control-label"></label>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="CTC304c" class="control-label"></label>
                    </div>


                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">

                        <input asp-for="LiniDawaVVU304b" class="form-control input-group date" />
                        <span asp-validation-for="LiniDawaVVU304b" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">

                        <input asp-for="CTC304c" class="form-control" />
                        <span asp-validation-for="CTC304c" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="col-md-12" style="margin-top:10px">
                <div class="row">
                    <div class="col-md-1">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                    <div class="col-md-1">
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>





        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     
     <script type="text/javascript">
       document.getElementById('init404').focus();
     </script>
}
