@model IEnumerable<Pmtct.Models.PmtctData>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index</h1>*@

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="row">
    <div class="col-md-6 ">
        <div class="row">
            <div class="col-md-3">

                <a class="btn btn-success btn-sm" asp-action="Create">New Record</a>

            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("admin") || User.IsInRole("analyst"))
                {
                    <div class="col-md-4">
                        <div class="dropdown">
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button"
                                    data-toggle="dropdown">
                                Export
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-success" asp-action="ExcelDoc" asp-controller="PmtctExport">excel</a>
                                <a class="dropdown-item text-primary" asp-action="CSV" asp-controller="PmtctCSV">csv</a>

                            </div>
                        </div>

                    </div>
                }
            }
        </div>
    </div>
</div>
<hr />
<div class="container-fluid">
    <div class="row flex-row flex-nowrap text-success">
        <div class="col-md-3 card card-block card-primary card-inverse invisible">
        </div>
         <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.ID)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.NambaMshiriki01)
        </div>
<div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.InitiatedART401)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.InitiatedARTDate401)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.DeliveryFacility402)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.DeliveryFacilityDate402)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.EarlyBirth403a)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.EarlyBirthDate403a)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.InfantHIVstatus403b)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.InfantHIVstatusDate403b)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.MotherResults403c)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.MotherResultsDate403c)
        </div>
        <div class="col-md-6 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.InfantBreastfeeding404a)
        </div>
        <div class="col-md-6 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.InfantBreastfeedingDate404a)
        </div>

        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.RemarksName)
        </div>
       


        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.Wilaya02)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.TareheMahojiano03)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.Kituo04)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.JinaAnayehoji05)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.Ngazikituo06)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.MdaKuishiZanzibar109)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.KiwangoElimu102)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.Umri101)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.WilayaUnayoishi107)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.IdadiMimba106)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.HaliNdoa103)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.KipatoMwezi104)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.Kazi105)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.NjeZanzibar108)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.KilomitaKituo201)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.KilomitaUjazo202)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.HudumaUjauzito203)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.UgumuKliniki204a)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.HudumaHapa205)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.BasiMbaliAfya204b_1)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.UgumuUsafiriUmma204b_2)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.KukosaNauli204b_3)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.MsafaraMrefu204b_4)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.AnaishiMbaliBasi204b_5)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.AnaishiMbaliAfya204b_6)
        </div>
        <div class="col-md-2 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.Mengine204b_7)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.TajaMengine204b)
        </div>
        <div class="col-md-6 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.UmepataHapaHuduma206)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.UmriMimba301)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.MwakaVVU302)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.MdaVVU303)
        </div>
        <div class="col-md-4 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.DawaVVU304a)
        </div>
        <div class="col-md-5 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.LiniDawaVVU304b)
        </div>
        <div class="col-md-3 card card-block card-primary card-inverse">
            @Html.DisplayNameFor(model => model.CTC304c)
        </div>
      

    </div>

    @foreach (var item in Model)
    {
        <div class="row flex-row flex-nowrap">
            <div class="col-md-3 ">
                <div class="row">
                    <div class="col-md-3 btn-success ">
                        <a class="text-white" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </div>
                    <div class="col-md-4 btn-success">
                        <a class="text-white" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    </div>
                    <div class="col-md-4 btn-danger">
                        <a class="text-white" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </div>

                </div>

            </div>
              <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.ID)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.NambaMshiriki01)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.InitiatedART401)
    </div>
    <div class="col-md-2 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.InitiatedARTDate401)
    </div>
    <div class="col-md-4 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.DeliveryFacility402)
    </div>
    <div class="col-md-4 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.DeliveryFacilityDate402)
    </div>
    <div class="col-md-5 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.EarlyBirth403a)
    </div>
    <div class="col-md-5 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.EarlyBirthDate403a)
    </div>
    <div class="col-md-3 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.InfantHIVstatus403b)
    </div>
    <div class="col-md-3 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.InfantHIVstatusDate403b)
    </div>
    <div class="col-md-4 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.MotherResults403c)
    </div>
    <div class="col-md-4 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.MotherResultsDate403c)
    </div>
    <div class="col-md-6 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.InfantBreastfeeding404a)
    </div>
    <div class="col-md-6 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.InfantBreastfeedingDate404a)
    </div>
   
    <div class="col-md-2 card card-block card-primary card-inverse">
        @Html.DisplayFor(modelItem => item.RemarksName)
    </div>

            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.Wilaya02)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.TareheMahojiano03)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.Kituo04)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.JinaAnayehoji05)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.Ngazikituo06)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.MdaKuishiZanzibar109)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.KiwangoElimu102)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.Umri101)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.WilayaUnayoishi107)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.IdadiMimba106)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.HaliNdoa103)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.KipatoMwezi104)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.Kazi105)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.NjeZanzibar108)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.KilomitaKituo201)
            </div>
            <div class="col-md-5 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.KilomitaUjazo202)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.HudumaUjauzito203)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.UgumuKliniki204a)
            </div>
            <div class="col-md-5 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.HudumaHapa205)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.BasiMbaliAfya204b_1)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.UgumuUsafiriUmma204b_2)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.KukosaNauli204b_3)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.MsafaraMrefu204b_4)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.AnaishiMbaliBasi204b_5)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.AnaishiMbaliAfya204b_6)
            </div>
            <div class="col-md-2 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.Mengine204b_7)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.TajaMengine204b)
            </div>
            <div class="col-md-6 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.UmepataHapaHuduma206)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.UmriMimba301)
            </div>
            <div class="col-md-5 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.MwakaVVU302)
            </div>
            <div class="col-md-5 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.MdaVVU303)
            </div>
            <div class="col-md-4 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.DawaVVU304a)
            </div>
            <div class="col-md-5 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.LiniDawaVVU304b)
            </div>
            <div class="col-md-3 card card-block card-primary card-inverse">
                @Html.DisplayFor(modelItem => item.CTC304c)
            </div>
           
           




        </div>
    }
</div>
